<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API REST Employees</title>
  </head>
  <body>
    <h1>API REST</h1>
    <p>CRUD Employees</p>
    <code>
      router.get("/employees", getEmployees); GET
    </code><br>
    <code>
      router.get("/employee/:id", getEmployee); GET
    </code><br>
    <code>
      router.post("/employees", createEmployee); POST -> name,rol 
    </code><br>
    <code>
      router.patch("/employee/:id", updateEmployee); PATCH -> name, rol
    </code><br>
    <code>
      router.delete("/employee/:id", deleteEmployee); DELETE
    </code><br>
    <ul>
      <li><a href="/employees">Employees</a></li>
    </ul>
  </body>
</html>
